@model Country;
<div class="card shadow border-0 mb-5 mt-5 pt-2">
  <div class="card-header bg-tertiary ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-dark">@(Model.Id != 0 ? "Update" : "Add") Country</h2>
        </div>
    </div>
  </div>
  <div class="card-body pt-4">
    <div class="form-container">
        <form method="post" class="row">
            <input asp-for="Id" hidden />

                <div class="border m-0 p-3 col-12 form-group">
                    <div asp-validation-summary="All" class="text-danger-emphasis"></div>
                    @*Place holder is basically used to write someting inside the input section while waiting for text
                            entry inside , whenever there's a entry inside , it dissapears
                            however in our context since we used the form-floating class it differently works
                            As long we don't click in input section the label text is big , else the size decreases.'
                            *@
                     <div class="mb-3 form-floating col-12">
                          <input asp-for="CountryName" placeholder="" class="form-control border-0 shadow ps-lg-4 text-capitalize" />
                          <label asp-for="CountryName" class="ms-2"></label>

                         <span asp-validation-for="CountryName" class="text-danger"></span>
                     </div>
                     <div class="mb-3 form-floating col-12">
                          <input asp-for="CountryCode" placeholder="" class="form-control border-0 shadow ps-lg-4 text-uppercase" />
                          <label asp-for="CountryCode" class="ms-2"></label>

                        @*Monitor the validation for title in the UI@*@
                         <span asp-validation-for="CountryCode" class="text-danger"></span>
                     </div>

                     <div class="row pt-2">
                         <div class="col-3 col-md-3 text-start">
                                    <button type="submit" class="btn btn-primary bg-dark" style="width:150px">
                                @(Model.Id != 0 ? "Update" : "Add")
                                    </button>
                         </div>
                         <div class="col-6"></div>
                         <div class="col-3 col-md-3 text-end">
                                    <a asp-controller="Country" asp-action="Index" class="btn btn-primary">
                                        Back to list
                                    </a>
                         </div>
                     </div>
                </div>           
        </form>
    </div>
  </div>
</div>


@{

    <partial name="_ValidationScriptsPartial" />
}
